//color variables

$colorFondo:#F3EBE4;
$colorGrid:#FFFFFF;
$colorButtons: hsl(158, 36%, 37%);
$colorTitle: hsl(212, 21%, 14%);
$colorParrafo: hsl(228, 12%, 48%);
$colorWhite:white;
$colorButtonHover:rgb(14, 85, 67);